<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>CV - Boxed</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	
	<!-- Font -->
	
	<link href="../https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="../common-css/bootstrap.css" rel="stylesheet">
	
	<link href="../common-css/ionicons.css" rel="stylesheet">
	
	<link href="../common-css/fluidbox.min.css" rel="stylesheet">
	
	<link href="../01-cv-portfolio/css/styles.css" rel="stylesheet">
	
	<link href="../01-cv-portfolio/css/responsive.css" rel="stylesheet">
	
</head>
<body>
	
	<header>
		<div class="container">
			<div class="heading-wrapper">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-location-outline"></i>
							<div class="right-area">
								<h5>ss</h5>
								<h5>ss</h5>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-telephone-outline"></i>
							<div class="right-area">
								<h5>337-4139538</h5>
								
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
					
					<div class="col-sm-6 col-md-6 col-lg-4">
						<div class="info">
							<i class="icon ion-ios-chatboxes-outline"></i>
							<div class="right-area">
								<h5>contact@colorlib.com</h5>
								<h6>REPLY IN 24 HOURS</h6>
							</div><!-- right-area -->
						</div><!-- info -->
					</div><!-- col-sm-4 -->
				</div><!-- row -->
			</div><!-- heading-wrapper -->
			
		</div><!-- container -->
	</header>
	
	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="../images/profile-1-250x250.jpg" alt=""></div>
						<h2><b>Michel SMith</b></h2>
						<h4 class="font-yellow">UEMK</h4>
						<ul class="information margin-tb-30">
							<li><b>Enrollment ID : </b>August 25, 1987</li>
							<li><b>EMAIL : </b>mymith@mywebpage.com</li>
							<li><b>Placed at : </b>mymith@mywebpage.com</li>
						</ul>
						<ul class="social-icons">
							<li><a href="../#"><i class="ion-social-pinterest"></i></a></li>
							<li><a href="../#"><i class="ion-social-linkedin"></i></a></li>
							<li><a href="../#"><i class="ion-social-instagram"></i></a></li>
							<li><a href="../#"><i class="ion-social-facebook"></i></a></li>
							<li><a href="../#"><i class="ion-social-twitter"></i></a></li>
						</ul>
					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	
	<!-- <section class="about-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Address</b></h3>
						<h6 class="font-lite-black"><b>(</b></h6>
					</div>
				</div><!-- col-sm-4 
				<div class="col-sm-8">
					<p class="margin-b-50">p>
				
					Put
					</div><!-- row --
				</div><!-- col-sm-
			</div><!-- row -
		</div><!-- container 
	</section>about-section -->
	
	<section class="experience-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>COLLEGE Details</b></h3>
						<h6 class="font-lite-black"><b>(UEMK)</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
				
					<div class="experience margin-b-50">
						<h4><b>Year of Passout : Thymeleaf</b></h4>
						<h5 class="font-yellow"><b></b></h5>
						
					</div><!-- experience -->
					
					<div class="experience margin-b-50">
						<h4><b>Enrollment ID : Thymeleaf</b></h4>
						<h5 class="font-yellow"><b>Verified</b></h5>
						
					</div><!-- experience -->
					
					<div class="experience margin-b-50">
						<h4><b>Course Details : Thymeleaf</b></h4>
						<h5 class="font-yellow"><b>Verified</b></h5>
						
					</div><!-- experience -->
					
					<div class="experience margin-b-50">
						<h4><b>Department : Thymeleaf</b></h4>
						<h5 class="font-yellow"><b>Verified</b></h5>
						
					</div><!-- experience -->
					
					<div class="experience margin-b-50">
						<h4><b>DGPA(Aggegate) : Thymeleaf</b></h4>
						<h5 class="font-yellow"><b>Verified</b></h5>
						
					</div><!-- experience -->
					<div class="experience margin-b-50">
						<h4><b>Chapter : Thymeleaf</b></h4>
						<h5 class="font-yellow"><b>Verified</b></h5>
						
					</div>
					<!-- <div class="experience margin-b-50">
						<h4><b>WEB MASTER/WEB DEVELOPER</b></h4>
						<h5 class="font-yellow"><b>DESIGN & WEB STUDIO</b></h5>
						<h6 class="margin-t-10">APRIL 2014 - FEBRUARY 2015</h6>
						<p class="font-semi-white margin-tb-30">Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, 
							quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, 
							eu mollis tellus. Sed finibus aliquam neque sit amet sodales. </p>
						<ul class="list margin-b-30">
							<li>Duis non volutpat arcu, eu mollis tellus.</li>
							<li>Quis consequat nulla effi citur at.</li>
							<li>Sed finibus aliquam neque sit.</li>
						</ul>
					</div>experience -->
					
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- experience-section -->
	
	<section class="education-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="heading">
						<h3><b>Personal Details:</b></h3>
						<h6 class="font-lite-black"><b>(Alumni personal details)</b></h6>
					</div>
				</div><!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>Address:</b></h4>
							<h5 class="font-yellow"><b>Present</b></h5>
							<h6 class="font-lite-black margin-t-10"></h6>
							<p class="margin-tb-30">Thymeleaf </p>
						</div><!-- education -->
						
						<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>Placed at: Thyemeleaf</b></h4>
							<h5 class="font-yellow"><b>Present</b></h5>
							<h6 class="font-lite-black margin-t-10"></h6>
						</div><!-- education -->
						
						<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>Phone : Thyemeleaf</b></h4>
							<h5 class="font-yellow"><b>Present</b></h5>
							<h6 class="font-lite-black margin-t-10"></h6>
						</div><!-- education -->
						
						
								<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>Email : Thyemeleaf</b></h4>
							<h5 class="font-yellow"><b>Present</b></h5>
							<h6 class="font-lite-black margin-t-10"></h6>
						</div><!-- education -->
						
							
						
								<div class="education-wrapper">
						<div class="education margin-b-50">
							<h4><b>Achivements :</b></h4>
							<h5 class="font-yellow"><b></b></h5>
							<h6 class="font-lite-black margin-t-10"></h6>
							
							<p class="margin-tb-30">Thymeleaf </p>
						</div><!-- education -->
					</div><!-- education-wrapper -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
		
	</section><!-- about-section -->
	
	<section class="counter-section" id="counter">
		<div class="container">
			<div class="row">
			
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="400" data-count="3">0</span></b></h1>
						<h5 class="desc"><b>Coder Degrees</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="1400" data-count="25">0</span></b></h1>
						<h5 class="desc"><b>Project Completed</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="700" data-count="311">0</span></b></h1>
						<h5 class="desc"><b>Satisfied Clients</b></h5>
					</div><!-- counter -->
				</div><!-- col-md-3-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="2000" data-count="732">0</span></b></h1>
						<h5 class="desc"><b>Finished Projects</b></h5>
					</div><!-- margin-b-30 -->
				</div><!-- col-md-3-->
				
			</div><!-- row-->
		</div><!-- container-->
    </section><!-- counter-section-->
	
	<footer>
		<p class="copyright">
		
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This AMS is made by <i class="ion-heart" aria-hidden="true"></i> by <a href="../https://github.com/soumyadip007" target="_blank">Soumyadip</a>

	</footer>
	
	
	<!-- SCIPTS -->
	
	<script src="../common-js/jquery-3.2.1.min.js"></script>
	
	<script src="../common-js/tether.min.js"></script>
	
	<script src="../common-js/bootstrap.js"></script>
	
	<script src="../common-js/isotope.pkgd.min.js"></script>
	
	<script src="../common-js/jquery.waypoints.min.js"></script>
	
	<script src="../common-js/progressbar.min.js"></script>
	
	<script src="../common-js/jquery.fluidbox.min.js"></script>
	
	<script src="../common-js/scripts.js"></script>
	
</body>
</html>