<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>

	<link rel="icon" type="../vendor/image/png" href="Error/pic.jpg"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin page</title>
   

    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../vendor/css/sb-admin.css" rel="stylesheet">

  </head>



  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="AdminHome.jsp">Pujo Direction</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
         
        </div>
      </form> 

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        
       
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="Logout" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>

      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
  	  
	
    
    
     <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/all-pujo}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>All Pujo</span>
          </a>
        </li>
        
           <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/north-kolkata}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>North Pujo</span>
          </a>
        </li>
        
            <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/central-kolkata}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Central Pujo</span>
          </a>
        </li>
        
        
        
            <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/south-kolkata}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>South Pujo</span>
          </a>
        </li>
        
         <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/add-pujo}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Add Pujo</span>
          </a>
        </li>
        
        <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/all-restaurant}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>All Restaurant</span>
          </a>
        </li>
        
           <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/north-kolkata-restaurant}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>North Restaurant</span>
          </a>
        </li>
        
            <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/central-kolkata-restaurant}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Central Restaurant</span>
          </a>
        </li>
        
        
        
            <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/south-kolkata-restaurant}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>South Restaurant</span>
          </a>
        </li>
        <li class="nav-item  ">
	  <a class="nav-link active" th:href="@{/admin/add-restaurant}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Add Restaurant</span>
          </a>
        </li>
        
        
                <li class="nav-item ">
	  <a class="nav-link " th:href="@{/admin/all-area}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>All Area</span>
          </a>
        
          <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/add-area}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Add Area</span>
          </a>
        </li>
       
        
              <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/pujo-count-chart}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Pujo Count</span>
          </a>
        </li>
        
        
            
              <li class="nav-item active ">
	  <a class="nav-link " th:href="@{/admin/restaurant-count-chart}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Restaurant Count</span>
          </a>
        </li>
        
      </ul>

      <div id="content-wrapper">


	<div id="allPujo" style="height: 370px; width: 100%;"></div>
<br>
	<div id="northPujo" style="height: 370px; width: 100%;"></div>
     <br>
     <div id="southPujo" style="height: 370px; width: 100%;"></div>
     <br>
     <div id="centralPujo" style="height: 370px; width: 100%;"></div>
          <br>
     <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <br>
     <div id="pieChart" style="height: 370px; width: 100%;"></div>
        
        
          
          <!-- Icon Cards-->
         

          <!-- Area Chart Example
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Area Chart Example</div>
            <div class="card-body">
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div> -->

          <!-- DataTables Example -->
        

    

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
   
   
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          
            <form  th:action="@{/logout}"  method="POST">
					
	
			<button type="submit" class="btn btn-success">Logout</button>   </form>
          </div>
        </div>
      </div>
    </div>

   
   
   
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="../vendor/chart.js/Chart.min.js"></script>
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../vendor/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="../vendor/js/demo/datatables-demo.js"></script>
    <script src="../vendor/js/demo/chart-area-demo.js"></script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>

	<link rel="icon" type="../vendor/image/png" href="Error/pic.jpg"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin page</title>
   

    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../vendor/css/sb-admin.css" rel="stylesheet">

  </head>



  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="AdminHome.jsp">Pujo Direction</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
         
        </div>
      </form> 

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        
       
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="Logout" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>

      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
  	  
	
   
     <li class="nav-item   ">
	  <a class="nav-link " th:href="@{/admin/all-alumni}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>All alumni</span>
          </a>
        </li>

        
         <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/add-alumni}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Add alumni</span>
          </a>
        </li>
        
  
        
     
              <li class="nav-item active ">
	  <a class="nav-link " th:href="@{/admin/2019}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>2019 Alumni</span>
          </a>
        </li>
   
      
              <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/2020}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>2020 Alumni</span>
          </a>
        </li>
      
              <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/2021}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>2021 Alumni</span>
          </a>
        </li>
      
              <li class="nav-item  ">
	  <a class="nav-link " th:href="@{/admin/alumni-count-chart}">
          
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Alumni Count</span>
          </a>
        </li>
      </ul>

      <div id="content-wrapper">


	
	<div id="all" style="height: 370px; width: 100%;"></div>
<br>
	<div id="2021" style="height: 370px; width: 100%;"></div>
     <br>
     <div id="2020" style="height: 370px; width: 100%;"></div>
     <br>
     <div id="2019" style="height: 370px; width: 100%;"></div>
          <br>
     <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <br>
        
          
          <!-- Icon Cards-->
         

          <!-- Area Chart Example
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Area Chart Example</div>
            <div class="card-body">
              <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div> -->

          <!-- DataTables Example -->
        

    

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
   
   
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          
            <form  th:action="@{/logout}"  method="POST">
					
	
			<button type="submit" class="btn btn-success">Logout</button>   </form>
          </div>
        </div>
      </div>
    </div>

   
   
   
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="../vendor/chart.js/Chart.min.js"></script>
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../vendor/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="../vendor/js/demo/datatables-demo.js"></script>
    <script src="../vendor/js/demo/chart-area-demo.js"></script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>

<script  type="text/javascript"  th:inline="javascript"></

window.onload = function () {

	var chart = new CanvasJS.Chart("all", {
		theme: "light2", // "light2", "dark1", "dark2"
		animationEnabled: false, // change to true		
		title:{
			text: "All-Student"
		},
		data: [
		{
			
			type: "column",
			dataPoints: [
				/*<![CDATA[*/

			    /*[# th:each="page : ${allalumni}"]*/
			{ label: /*[[${page.name}]]*/,  y: /*[[${page.click}]]*/  },	
			    /*[/]*/

				/*]]>*/
				
			]
		}
		]
	});


	var chart1 = new CanvasJS.Chart("2021", {
		theme: "light2", // "light2", "dark1", "dark2"
		animationEnabled: false, // change to true		
		title:{
			text: "2021 Passout"
		},
		data: [
		{
			// Change type to "bar", "area", "spline", "pie",etc.
			type: "column",
			dataPoints: [
				/*<![CDATA[*/

			
			    /*[# th:each="page : ${allalumni}"]*/
			    
			        /*[# th:if="${page.year} =='2021'"]*/
			{ label: /*[[${page.name}]]*/,  y: /*[[${page.click}]]*/  },	
				/*[/]*/
			
			    /*[/]*/

				/*]]>*/
				
			]
		}
		]
	});



	var chart2 = new CanvasJS.Chart("2020", {
		theme: "light2", // "light2", "dark1", "dark2"
		animationEnabled: false, // change to true		
		title:{
			text: "2020 Passout"
		},
		data: [
		{
			// Change type to "bar", "area", "spline", "pie",etc.
			type: "column",
			dataPoints: [
				/*<![CDATA[*/

			 
			    /*[# th:each="page : ${allalumni}"]*/
			    
			        /*[# th:if="${page.year} =='2020'"]*/
			{ label: /*[[${page.name}]]*/,  y: /*[[${page.click}]]*/  },	
				/*[/]*/
			
			    /*[/]*/

				/*]]>*/
				
			]
		}
		]
	});


	var chart3 = new CanvasJS.Chart("2019", {
		theme: "light2", // "light2", "dark1", "dark2"
		animationEnabled: false, // change to true		
		title:{
			text: "2019 Passout"
		},
		data: [
		{
			// Change type to "bar", "area", "spline", "pie",etc.
			type: "column",
			dataPoints: [
				/*<![CDATA[*/

			    /*[# th:each="page : ${allalumni}"]*/
			    
			        /*[# th:if="${page.year} =='2019'"]*/
			{ label: /*[[${page.name}]]*/,  y: /*[[${page.click}]]*/  },	
				/*[/]*/
			
			    /*[/]*/

				/*]]>*/
				
			]
		}
		]
	});


	var chart4 = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		theme: "light2",
		title:{
			text: "All Pujo Line Chart"
		},
		axisY:{
			includeZero: false
		},
		data: [{        
			type: "line",       
			dataPoints: [
					/*<![CDATA[*/

			    /*[# th:each="page : ${allalumni}"]*/
			    
			        /*[# th:if="${page.year} =='2019'"]*/
			{ label: /*[[${page.name}]]*/,  y: /*[[${page.click}]]*/  },	
			    /*[/]*/

				/*]]>*/
				
			]
		}]
	});





chart.render();
chart.render();
chart1.render();
chart2.render();
chart3.render();
chart4.render();
}


</script>
  </body>

</html>
